body {
    font-family: Arial, sans-serif;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #9747ff, #1c8cee, #d523c6);
    background-size: 400% 400%;
    color: white;
    animation: gradient 15s ease infinite;
    height: 100vh;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.field {
    border: 2px solid white;
    border-radius: 20px;
    height: fit-content;
    width: 510px;
    margin-bottom: 50px;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.legend {
    border: 2px solid white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 7px;
    background-color: transparent;
}

form {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.form-row label {
    text-align: center;
    margin-right: 30px;
    width: 30%; 
    font-weight: bold;
}

.form-row input {
    width: 50%;
    height: 20px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    outline-color: transparent;
}

.form-row input[type="checkbox"] {
    accent-color: #13e81a;
}

button {
    background-color: #30c535;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    width: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #17dd21;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 1px solid rgba(35, 35, 35, 0.5);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    background-color: rgba(40, 40, 40, 0.5);
}

th,
td {
    border: 1px solid #ffffff80;
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgba(35, 35, 35, 0.5);
}

#cancel-edit {
    background-color: #d3392e;
}

#cancel-edit:hover {
    background-color: #ff3835;
}