body {
    font-family: Arial, sans-serif;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #943ce7, #2382d5, #c623d5);
    background-size: 400% 400%;
    color: white;
    animation: gradient 15s ease infinite;
    height: 100vh;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.field {
    border: 2px solid white;
    border-radius: 20px;
    height: fit-content;
    width: 500px;
    margin-bottom: 50px;
}

.legend {
    border: 2px solid white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 7px;
}

form {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.form-row label {
    text-align: center;
    margin-right: 30px;
    width: 30%; 
}

.form-row input {
    width: 50%;
    height: 20px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    outline-color: transparent;
}

label,
input {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: solid;
    border-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 7px;
    width: 400px;
    text-align: center;
}

input[type="checkbox"] {
    width: 50px;
    height: 20px;
    margin-right: 10px;
}

button {
    background-color: #30c535;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: #17dd21;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgba(255, 255, 255, 0.2);
}

#cancel-edit {
    background-color: #d3392e;
}

#cancel-edit:hover {
    background-color: #ff3835;
}